
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

.row {
    margin-bottom: 20px;
    margin-top: 10px;
}

#oba-barada, .oba-barada-aydylanlar {
    background-color: rgb(228, 228, 228);
}

#title {
    font-size: 2.5rem;
    font-weight: bold;
    /* font-family: 'Courgette', cursive; */
    font-family: 'Great Vibes', cursive;
    /* font-family: 'Italianno', cursive; */
    color: white;
}

.navbar {
    background-color: #6f42c1;
}

#suratlar-header {
    text-align: center;
    background-color: #6f42c1;
    color: white;
    font-family: 'Signika', sans-serif;
}

p {
    font-family: 'Signika', sans-serif;
    font-size: 1.5rem;
}

.avatar {
    width: 50px; 
}

#map {
   background-image: linear-gradient(
  90deg,
  hsl(261deg 51% 51%) 0%,
  hsl(264deg 52% 65%) 14%,
  hsl(267deg 53% 79%) 22%,
  hsl(268deg 55% 93%) 29%,
  hsl(300deg 100% 100%) 35%,
  hsl(300deg 100% 100%) 41%,
  hsl(300deg 100% 100%) 46%,
  hsl(0deg 0% 100%) 50%,
  hsl(300deg 100% 100%) 55%,
  hsl(300deg 100% 100%) 60%,
  hsl(300deg 100% 100%) 65%,
  hsl(268deg 55% 93%) 70%,
  hsl(267deg 53% 79%) 76%,
  hsl(264deg 52% 65%) 83%,
  hsl(261deg 51% 51%) 100%
);
}